.container{
    margin-top: 120px;
    font-family: Oswald;
    font-size: 110%;
}
h3{
    color: grey;
}
h4{
    color:#85b3b8;
    font-size: 22px;
    margin-bottom: 20px;
}
.row{
    margin-bottom: 100px;
}
#description{
    text-align: justify;
}

